
/.github/ @TerraFirmaGreg-Team/Project-Lead
/.gitattributes @TerraFirmaGreg-Team/Project-Lead
/.gitignore @TerraFirmaGreg-Team/Project-Lead
/LICENSE @TerraFirmaGreg-Team/Project-Lead
/README.md @TerraFirmaGreg-Team/Project-Lead